<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>createdAt</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <td>{{project.id}}</td>
    <td>{{project.name}}</td>
    <td>{{project.description}}</td>
    <td>{{project.createdAt | localDate}}</td>
    <td>
      <button class="btn btn-sm btn-warning"
              [routerLink]="['/projects/edit',project.id]">
        Edit
      </button>
      <button class="btn btn-sm btn-danger ml-1" [routerLink]="['/projects/delete',project.id]">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
