<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular-Client Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/projects']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/tasks']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Projects tasks</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/team']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Team</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/users']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Users</a>
      </li>
    </ul>
  </div>
</nav>
